.card{
    color: #200251  ;
    border: 1px solid rgba(249, 246, 246, 0.968);
    padding: 3vw;
}


.card button{
    margin-top: 20px;
    background-color: white ;
    font-size: 15px;
    color: #200251  ;
    border: 2px solid #200251;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
}

.card button:hover{
    background-color: #EFA14C;
    border: 2px solid #EFA14C;
}

.card .name{
    font-size: 25px;
    font-weight: 900;
}

.card .description{
    padding-top: 2vh;
    line-height: 20px;
    height: 18vh;
}