.filter{
  padding: 20px;
}

.filter .categories{
  text-align: center;
  padding: 20px;
}

.filter .categories a{
  font-size: 15px;
  padding: 15px;
  font-weight: 900;
}

.categories .all{
  color: white;
  background-color: #111E47;
  border-radius: 10px;
}

.categories a:hover{
  color: #EFA14C;
}

.filter .blogCards{
  display: flex;
  padding: 5vh 10vw;
}